<h1>Find your Friends</h1>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      All Users
    </h2>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Username
        </th>

        <th>
          Send Friend Request
        </th>
      </tr>

      <% @users.except({:id => session[:user_id]}).each do |people| %>
      <tr>
        <td>
          <%= people.username.capitalize %>
        </td>

        <td>
          <% if people.id == 0 %>
           <a href="/user/<%= people.id %>">
            Add Friend
            </a>
          <% else %>
            <a href="/user/<%= people.id %>">
            Remove Friend
            </a>
          <% end %>
        </td>

        
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


