      <ul>
    <li>
      <a href="/user_sign_out">
        Sign Out
      </a>
    </li>
    <li>
      <a href="/edit_user">
        Edit Profile
      </a>
    </li>
    <li>
      <a href="/">
        Profile
      </a>
    </li>

  </ul>

<h1><%= @current_user.username %>'s Account</h1>

