<h1>Find your Friends</h1>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      All Users
    </h2>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Username
        </th>

        <th>
          Send Friend Request
        </th>
      </tr>

      
      <% @users.where.not({:id => session[:user_id]}).each do |people| %>
      <tr>
        <td>
          <%= people.username.capitalize %>
        </td>

        <td>
          <% if FollowRequest.where({:sender_id => session[:user_id], :recipent_id => people.id}).pluck(:id).count == 0 %>
    
            <form action="/insert_follow_request" method="post">
              <div class="form-group">
                <input type="hidden" name="recipent_id_from_query" class="form-control" value="<%= people.id %>">
              </div>
              <button class="btn btn-block btn-outline-primary">
                Add Friend
              </button>
            </form>

          <% else %>
            <form action="/delete_follow_request/<%= people.id %>" method="post">
              <div class="form-group">
                <input type="hidden" name="recipent_id_from_query" class="form-control" value="<%= people.id %>">
              </div>
              <button class="btn btn-block btn-outline-secondary">
                Unfriend
              </button>
            </form>
            <% end %>
        
        </td>

        
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


